<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!--Profile image-->
                <div class="d-flex justify-content-center mb-3 mt-4">
                    <div class="text-center">
                        <img src="https://avatars.githubusercontent.com/u/155687590?v=4" class="border border-3 border rounded-circle" alt="Profile Image" style="width:100px; height:100px; object-fit:cover" />
                        <div class="small text-white mt-2">Admin Panel</div>
                    </div>
                </div>
                <a class="nav-link" asp-controller="Main" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house-crack"></i></div>
                    Main
                </a>
                <div class="sb-sidenav-menu-heading">Products & Categories</div>
                <a class="nav-link" asp-controller="Categories" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Category Management
                </a>
                <div class="sb-sidenav-menu-heading">Users & Authors</div>
                <a class="nav-link" asp-controller="AppUsers" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    User Management
                </a>
                <a class="nav-link" asp-controller="Authors" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Authors Management
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>